<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 文件的命名 表名 + Mapper -->

<!-- namespace:接口包 + 接口名
	
 -->
<mapper namespace="org.tonny.map.IUserMapper">

	<select id="isAuthorizedUser" parameterType="org.tonny.model.User" resultType="int">
		SELECT COUNT(1) FROM users ur
			WHERE ur.name = #{name} AND ur.password = #{password} AND ur.delflag = 0
	</select>

	<select id="getUserById" parameterType="int" resultType="org.tonny.model.User">
		SELECT *
		FROM users WHERE id=#{id}
	</select>
	
	<select id="getAll" resultType="org.tonny.model.User">
		SELECT *
		FROM users
	</select>
	
	<select id="getUserListByCondition" parameterType="org.tonny.model.User" resultType="org.tonny.model.User">
		SELECT *
		FROM users
		WHERE name = #{name}
	</select>
	
	<insert id="add" parameterType="org.tonny.model.User">
		INSERT INTO users(name,age)
		VALUES(#{name}, #{age})
	</insert>
	
	<update id="update" parameterType="org.tonny.model.User">
		UPDATE users
		SET name = #{name},age = #{age}
		WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM users
		WHERE id=#{id}
	</delete>
</mapper>
